<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bank project</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body >
    
    <header>
      <section class="container">
        <a href="http://localhost:4000/bank" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
   
      window.onload = init()
      function init(){        
        user =  JSON.parse(localStorage.getItem("userInfo"))        
        href_home   = 'http://localhost:4000/bank'
        href_signin = 'http://localhost:4000/bank/signin'
        href_signup = 'http://localhost:4000/bank/singup'
       if (user != null ) {
         href = `http://localhost:4000/bank/account/${user.id}/${user.account}`
         if (location.href != href ){
          location.replace(`http://localhost:4000/bank/account/${user.id}/${user.account}`)          
         }else {
          user = JSON.parse(localStorage.getItem("userInfo")) 
          document.getElementById("user_name").innerHTML  = user.account
          document.getElementById("user_money").innerHTML = user.money          
         }
        }
        else{
          
          if(location.hash) {
            hash = location.hash.substr(1)
            list = hash.split("&")
            token = list[0].split("=")[1]
            axios({
              method:'post',
              url:'http://localhost:4000/api/bank/FacebookHandler',
              data:{
                "accesstoken": token
              }
            }).then(result=>{
              result.data.account = xoa_dau(result.data.account)
              localStorage.setItem("userInfo",JSON.stringify(result.data))
              location.reload()
            }).catch(error => console.log(error.response))
          }
            else if (location.href !=  href_home && location.href !=  href_signin && location.href !=  href_signup){
            location.replace(href_home)
          } 
        }
        
      }


        function signinHandler() {
      account = document.getElementById("signin_account").value
      password = document.getElementById("signin_password").value
      axios({
          method: 'post',
          url: 'http://localhost:4000/api/bank/Signin',
          data:{
              "account":account,
              "password":password
          }
      }).then(result =>{
          localStorage.setItem("userInfo",JSON.stringify(result.data))
          location.replace(`http://localhost:4000/bank/account/${result.data.id}/${result.data.account}`)
      }).catch(error => console.log(error))
    }




        function signupHandler(){
      account = document.getElementById("signup_account").value
      password = document.getElementById("signup_password").value
      axios({
          method: 'post',
          url: 'http://localhost:4000/api/bank/Signup',
          data:{
              "account" :account,
              "password":password
          }
      }).then(result =>{
          location.replace('http://localhost:4000/bank/signin')
      }).catch(error => {      
        document.getElementById("signup_alert").innerHTML = error.response.data
      })
    }

    function depositHandler(){
    user = JSON.parse(localStorage.getItem("userInfo"))
    money = document.getElementById("deposit_money").value
    axios({
        method: 'post',
        url: 'http://localhost:4000/api/bank/Deposit',
        data:{
            "id": user.id,
            "deposit": money
        },
        headers:{
            "Authorization": `Bearer ${user.accesstoken}`
        }
    }).then(result=>{
        user.money = result.data.money
        localStorage.setItem("userInfo",JSON.stringify(user))
        location.href =`http://localhost:4000/bank/account/${user.id}/${user.account}`
    }).catch(error => console.log(error))
}

function withdrawHandler(){
    user = JSON.parse(localStorage.getItem("userInfo")) 
    money = document.getElementById("withdraw_money").value
    axios({
        method: 'post',
        url: 'http://localhost:4000/api/bank/Withdraw',
        data:{
            "id": user.id,
            "withdraw": money
        },
        headers:{
            "authorization": `Bearer ${user.accesstoken}`
        }
    }).then(result=>{
        user.money = result.data.money
        localStorage.setItem("userInfo",JSON.stringify(user))
        location.href = `http://localhost:4000/bank/account/${user.id}/${user.account}`
    }).catch(error => console.log(error))
}


  
function transferHandler(){
    user         = JSON.parse(localStorage.getItem("userInfo")) 
    money        = document.getElementById("transfer_money").value
    receiverName = document.getElementById("receiver_name").value
    receiverId   = document.getElementById("receiver_id").value
    axios({
        method: 'post',
        url: 'http://localhost:4000/api/bank/Transfer',
        data:{
            "receiverid": receiverId,
            "receivername": receiverName,
            "money": money,
            "id": user.id
        },
        headers:{
            "authorization": `Bearer ${user.accesstoken}`
        }
    }).then(result=>{
        user.money = result.data.money
        localStorage.setItem("userInfo",JSON.stringify(user))
        location.href = `http://localhost:4000/bank/account/${user.id}/${user.account}`
    }).catch(error => console.log(error))
}
  
  function logoutHandler(){
    localStorage.removeItem("userInfo")
    location.replace("http://localhost:4000/bank")
}

  function loginWithFacebookHandler(){
    location.href = "https://www.facebook.com/v6.0/dialog/oauth?client_id=197695828014122&redirect_uri=http://localhost:4000/bank&state=st=state123abc,ds=123456789&response_type=token"
    
    }

    function xoa_dau(str) {
    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
    str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
    str = str.replace(/đ/g, "d");
    str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
    str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
    str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
    str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
    str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
    str = str.replace(/Đ/g, "D");
    str = str.split(' ').join('');
    return str;
}

    </script>
  </body>
</html>
