<div class="phx-hero">
  <h1>Sign in</h1>
  
    <label >Account</label>
    <input type="text" class="form-control" name="account" id="signin_account">
    <label >Password</label>
    <input type="password" class="form-control" name="password" id="signin_password">
    <button   onclick ="signinHandler()">Submit</button>
  
  </div>